<%= turbo_frame_tag dom_id(dyna_form) do %>
  <div class="card card-body">
    <h4><%= dyna_form.title%></h4>
    <p>
      <%= dyna_form.description %>
    </p>
  </div>
  <%= button_to "Delete", dyna_form, method: :delete %>
<% end %>