<% sample ||= false %>
<div class="form-group">
  <%= render partial: "submitted_form_responses/label_and_helper", locals: {form_input: submitted_form_response.form_input} %>
  <% submitted_form_response.form_input.parsed_additional_attributes.each do |attr| %>
    <%= check_box_tag "#{submitted_form_response.id}[]", attr %><%= attr %><br>
  <% end %>
</div>