<% sample ||= false %>
<div class="form-group">
  <%= render partial: "submitted_form_responses/label_and_helper", locals: {form_input: submitted_form_response.form_input} %>
  <%= select_tag submitted_form_response.id, options_for_select(submitted_form_response.form_input.parsed_additional_attributes, submitted_form_response.value), include_blank: true %>
</div>