<footer>
  <div class="container my-5">
    <div class="text-center">presented by</div>
    <h1 class="header-insight--md text-center"><%= link_to "bschrag620@github.com", "https://github.com/bschrag620", target: '_blank', class: 'no-decor' %></h1>
  </div>
</footer>